{{ template "components/header" . }}

<main class="max-w-4xl mx-auto p-6">
  <section class="mb-20">
    <h1 class="text-3xl sm:text-6xl font-extrabold tracking-tight mb-4 text-center text-pink-500">Seatbelt</h1>
    <p class="text-xl sm:text-3xl text-center tracking-tight mb-4">Build HTML web apps with Go</p>
    <div class="flex justify-center">
      <code class="inline-block bg-slate-100 px-3 py-2 rounded-md text-xs sm:text-base">$ go get github.com/go-seatbelt/seatbelt</code>
    </div>
  </section>

  <section class="mb-16">
    <div class="group flex items-center text-2xl font-semibold mb-4">
      <h3 id="quickstart" class="uppercase tracking-wide"><a name="quickstart">Quickstart</a></h3>
      <div class="invisible group-hover:visible ml-2">
        <a href="#quickstart" class="block">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M13.19 8.688a4.5 4.5 0 011.242 7.244l-4.5 4.5a4.5 4.5 0 01-6.364-6.364l1.757-1.757m13.35-.622l1.757-1.757a4.5 4.5 0 00-6.364-6.364l-4.5 4.5a4.5 4.5 0 001.242 7.244" />
          </svg>
        </a>
      </div>
    </div>
    <p class="text-slate-600 mb-4 leading-relaxed">With the library installed, create a new file named <code class="inline-block bg-slate-100 px-1 rounded-md text-sm sm:text-base">main.go</code> with the following code. This starts a server on http://localhost:3000 that responds with "Hello, world!" in plain text.</p>

    <div class="js-example">
      <div class="flex text-sm rounded-t-lg bg-slate-800 border-b border-slate-900 text-slate-200">
        <button class="js-tab px-4 py-1">main.go</button>
        <button class="js-tab px-4 py-1 border-l border-slate-900 opacity-50">Result</button>
      </div>
      <pre style="height:246px" class="js-tabcontent text-sm rounded-b-lg px-4 py-2.5 bg-slate-700 text-slate-300 overflow-x-scroll">{{ .QuickstartGo }}</pre>
      <pre style="height:246px" class="js-tabcontent hidden text-sm rounded-b-lg px-4 py-2.5 bg-slate-100">
        <h1>Hello, world!</h1>
      </pre>
  </section>

  <section class="mb-16">
    <div class="group flex items-center text-2xl font-semibold mb-4">
      <h3 id="renderhtml" class="uppercase tracking-wide"><a name="render">Render</a></h3>
      <div class="invisible group-hover:visible ml-2">
        <a href="#render" class="block">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M13.19 8.688a4.5 4.5 0 011.242 7.244l-4.5 4.5a4.5 4.5 0 01-6.364-6.364l1.757-1.757m13.35-.622l1.757-1.757a4.5 4.5 0 00-6.364-6.364l-4.5 4.5a4.5 4.5 0 001.242 7.244" />
          </svg>
        </a>
      </div>
    </div>
    <p class="text-slate-600 mb-4 leading-relaxed">With the library installed, create a new file named <code class="inline-block bg-slate-100 px-1 rounded-md text-sm sm:text-base">main.go</code> with the following code. This starts a server on http://localhost:3000 that responds with "Hello, world!" in plain text.</p>

    <div class="js-example">
      <div class="flex text-sm rounded-t-lg bg-slate-800 border-b border-slate-900 text-slate-200">
        <button class="js-tab px-4 py-1">main.go</button>
        <button class="js-tab px-4 py-1 border-l border-slate-900 opacity-50">templates/index.html</button>
        <button class="js-tab px-4 py-1 border-l border-slate-900 opacity-50">Result</button>
      </div>
      <pre style="height:286px" class="js-tabcontent text-sm rounded-b-lg px-4 py-2.5 bg-slate-700 text-slate-300 overflow-x-scroll">{{ .RenderGo }}</pre>
      <pre style="height:286px" class="js-tabcontent hidden text-sm rounded-b-lg px-4 py-2.5 bg-slate-700 text-slate-300 overflow-x-scroll">{{ .RenderHTML }}</pre>
      <div style="height:286px" class="js-tabcontent hidden text-sm rounded-b-lg px-4 py-2.5 bg-slate-100">
        <h1>Hello, world!</h1>
      </div>
    </div>
  </section>

  <section class="mb-16">
    <div class="group flex items-center text-2xl font-semibold mb-4">
      <h3 id="sessions" class="uppercase tracking-wide"><a name="sessions">Sessions</a></h3>
      <div class="invisible group-hover:visible ml-2">
        <a href="#sessions" class="block">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M13.19 8.688a4.5 4.5 0 011.242 7.244l-4.5 4.5a4.5 4.5 0 01-6.364-6.364l1.757-1.757m13.35-.622l1.757-1.757a4.5 4.5 0 00-6.364-6.364l-4.5 4.5a4.5 4.5 0 001.242 7.244" />
          </svg>
        </a>
      </div>
    </div>
    <p class="text-slate-600 mb-4 leading-relaxed">With the library installed, create a new file named <code class="inline-block bg-slate-100 px-1 rounded-md text-sm sm:text-base">main.go</code> with the following code. This starts a server on http://localhost:3000 that responds with "Hello, world!" in plain text.</p>

    <div class="js-example">
      <div class="flex text-sm rounded-t-lg bg-slate-800 border-b border-slate-900 text-slate-200">
        <button class="js-tab px-4 py-1">main.go</button>
        <button class="js-tab px-4 py-1 border-l border-slate-900 opacity-50">templates/index.html</button>
        <button class="js-tab px-4 py-1 border-l border-slate-900 opacity-50">Result</button>
      </div>
      <pre style="height:366px" class="js-tabcontent text-sm rounded-b-lg px-4 py-2.5 bg-slate-700 text-slate-300 overflow-x-scroll">{{ .SessionGo }}</pre>
      <pre style="height:366px" class="js-tabcontent hidden text-sm rounded-b-lg px-4 py-2.5 bg-slate-700 text-slate-300 overflow-x-scroll">{{ .SessionHTML }}</pre>
      <div style="height:366px" class="js-tabcontent hidden bg-slate-100 rounded-b-lg px-4 py-2.5">
        <turbo-frame id="main">
          <div class="text-sm text-slate-500 mb-1">Current session value</div>
          <p class="text-lg mb-6 font-medium">{{ .Name }}</p>

          <form method="POST" action="/">
            {{ csrf }}
            <label class="block text-sm text-slate-500 mb-1">Set new session value</label>
            <div class="flex">
              <input class="inline-block p-2 text-base rounded-l-lg" type="text" name="name"/>
              <input class="inline-block ml-0 px-3 py-2 rounded-r-lg border-slate-300 bg-slate-200" type="submit" value="Submit"/>
            </div>
          </form>
        </turbo-frame>
      </div>
    </div>
  </section>
</main>

<script>
  (function() {
    "use strict"

    const examples = document.querySelectorAll(".js-example")

    examples.forEach(example => {
      const tabs = example.querySelectorAll(".js-tab")
      const tabcontents = example.querySelectorAll(".js-tabcontent")

      if (tabs && tabs.length > 0) {
        const reset = () => {
          tabs.forEach(tab => { tab.classList.add("opacity-50") })
          tabcontents.forEach(content => { content.classList.add("hidden") })
        }

        tabs.forEach((tab, i) => {
          tab.addEventListener("click", _ => {
            reset()
            tabs[i].classList.remove("opacity-50")
            tabcontents[i].classList.remove("hidden")
          })
        })
      }
    })
  })()
</script>
