<header class="px-6 py-4 mb-10">
  <nav class="flex flex-col sm:flex-row items-center justify-between">
    <a href="/" class="flex items-center mb-8 sm:mb-0">
      <img class="w-12 h-auto" src="/public/images/logo.jpg" alt="Seatbelt mascot logo"/>
      <h2 class="text-2xl ml-4 font-bold tracking-tight">Seatbelt</h2>
    </a>

    <ul class="flex items-center justify-center">
      <li><a class='{{ CurrentPageClasses "/guide" "bg-sky-50 text-sky-600" "hover:bg-sky-50 hover:text-sky-600" }} font-bold text-sm sm:text-lg rounded-lg px-2 sm:px-4 py-1.5 sm:py-3 ml-2' href="/guide">Guide</a></li>
      <li><a class='{{ CurrentPageClasses "/api" "bg-sky-50 text-sky-600" "hover:bg-sky-50 hover:text-sky-600" }} font-bold text-sm sm:text-lg rounded-lg px-2 sm:px-4 py-1.5 sm:py-3 ml-2' href="/api">API</a></li>
      <li><a class="flex items-center hover:bg-sky-50 hover:text-sky-600 font-bold text-sm sm:text-lg rounded-lg px-2 sm:px-4 py-1.5 sm:py-3 ml-2" href="https://pkg.go.dev/github.com/go-seatbelt/seatbelt" target="_blank">
        GoDoc
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="ml-1 w-5 h-5">
          <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
        </svg>
      </a></li>
      <li><a class="flex items-center  hover:bg-sky-50 hover:text-sky-600 font-bold text-sm sm:text-lg rounded-lg px-2 sm:px-4 py-1.5 sm:py-3 ml-2" href="https://github.com/go-seatbelt/seatbelt" target="_blank">
        Source
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="ml-1 w-5 h-5">
          <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
        </svg>
      </a></li>
    </ul>
  </nav>
</header>
